.lapp {
    margin: 1rem;
    -webkit-box-shadow:inset 0 0 0 1rem #F3755E;
    box-shadow:inset 0 0 0 1rem #F3755E;
    min-height: 98vh;
    padding:1rem;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-animation-name: redPulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
}

body {
    background: #fff;
}

@-webkit-keyframes redPulse {
    from { -webkit-box-shadow: inset 0 0 0 0px #F3755E}
    to { -webkit-box-shadow: inset 0 0 0 10px #F3755E}
}
.navbar-default{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border:0px solid transparent;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border: 0px solid transparent;
}

@media (min-width: 768px)
{

    .stuck {

        left: auto;
        right: auto;
        padding-left: 0;
        padding-right: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        opacity:1;
    }



}
